



<nav class="navbar navbar-expand-lg navbar-light bg-light">
 

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <a class="nav-link" routerLink="home">
        <img src="assets/indeedLogo/indeed-logo.png" alt="Indeed Logo" class="indeed-logo">
        <span class="sr-only">(current)</span>
        </a>
      <li class="nav-item active">
     
        <a class="nav-link" routerLink="home"><i class="fa fa-fw fa-home"></i> Home <span class="sr-only">(current)</span></a>
      </li>
    
     
       
      
      <li class="nav-item">
        <a class="nav-link" routerLink="contact">Salary Guide</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="review">Company Review</a>
      </li>
     
    </ul>
   
   
    <form class="form-inline my-2 my-lg-0">
    
     <a routerLink="register" class="btn btn-outline-success my-2 my-sm-0 m-2">Register</a>
    <!-- Avatar and dropdown -->

    <div *ngIf="loginservice.currentUserName !== ''" class="avatar-dropdown" (click)="toggleDropdown()">
      <img [src]="userAvatar" alt="User Avatar" [width]="40" class="user-avatar" />
      
      <div *ngIf="showDropdown" class="dropdown-content">
        <div class="user-info">
          <span class="user-name">{{ loginservice.currentUserName }}</span>
          <a routerLink="/userProfile">Profile</a>
        </div>
        <hr class="divider">
        <a (click)="LogoutClick()" class="logout-option">Logout</a>
        
      </div>
    </div>
      <a routerLink="login" *ngIf="loginservice.currentUserName==''" class="btn btn-outline-success my-2 my-sm-0" >
        <i class="fa fa-fw fa-user"></i>SignIn</a>
      
       
      <!-- <a (click)="LogoutClick()" *ngIf="loginservice.currentUserName!=''" class="btn btn-outline-success my-2 my-sm-0" ><i class="fa fa-fw fa-user"></i>Logout</a> -->
      <li class="nav-item">
        <a class="nav-link" routerLink="company">Employee/postjob</a>
      </li>
    
    </form>
  </div>
</nav>
<router-outlet></router-outlet>